* text=auto

## GRAPHICS
*.bmp  binary
*.gif  binary
*.ico  binary
*.jpg  binary
*.jpeg binary
*.png  binary

## AUDIO
*.wav  binary
*.mp3  binary
*.ogg  binary

## OTHER
*.rtf	 diff=astextplain

## GAME MAKER
*.gmx  text
